<h1><%= @neighborhood[:display_name] %></h1>
<br>
<div id="map"></div>
<%= raw(@wiki) %>

<script type="text/javascript">
  var neighborhood = {};
  neighborhood.polygon_url = "<%= @neighborhood[:polygon_url] %>";
  neighborhood.display_name = "<%= @neighborhood[:display_name] %>";
  neighborhood.name = "<%= @neighborhood[:name] %>";
  var parks = [];
  var landmarks = [];
  var museums = [];
</script>
<%= javascript_include_tag "neighborhood_map" %>

    <% @parks.each do |park| %>
      <script type="text/javascript">
        var park = {};
        park.lat = Number('<%= park[:lat] %>');
        park.lng = Number('<%= park[:long] %>');
        park.name = '<%= park[:name] %>';
        park.address = '<%= park[:address] %>';
        park.url = '<%= park[:website] %>';
        parks.push(park);
      </script>
    <% end %>

    <% @landmarks.each do |lm| %>
      <script type="text/javascript">
        var landmark = {};
        landmark.lat = Number('<%= lm[:lat] %>');
        landmark.lng = Number('<%= lm[:long] %>');
        landmark.name = '<%= lm[:name] %>';
        landmark.address = '<%= lm[:address] %>';
        landmark.url = '<%= lm[:website] %>';
        landmarks.push(landmark);
      </script>
    <% end %>

    <% @museums.each do |museum| %>
      <script type="text/javascript">
        var museum = {};
        museum.lat = Number('<%= museum[:lat] %>');
        museum.lng = Number('<%= museum[:long] %>');
        museum.name = '<%= museum[:name] %>';
        museum.address = '<%= museum[:address] %>';
        museum.url = '<%= museum[:website] %>';
        museums.push(museum);
      </script>
    <% end %>
