<div class="container">
  <div class="left-column">
    <h2 class="title"><%= @neighborhood[:display_name] %></h2>
    <p><%= raw(@wiki) %></p>
  </div>
  <div class="right-column">
    <div class="map-legend">
      <div>
        <label class="map-toggle">Landmarks<input class="map-toggle-box" type="checkbox" name="landmarks" value="datalayer" checked></label>
        <label class="map-toggle">Museums<input class="map-toggle-box" type="checkbox" name="museums" value="museum" checked></label>
        <label class="map-toggle">Parks<input class="map-toggle-box" type="checkbox"name="parks" value="park" checked></label>
        <button type=reset value="reset">Reset Map</button><br><br>
      </div>
    </div>
    <div id="map"></div>
  </div>

</div>

<script type="text/javascript">
  var neighborhood = {};
  neighborhood.polygon_url = "<%= @neighborhood[:polygon_url] %>";
  neighborhood.display_name = "<%= @neighborhood[:display_name] %>";
  neighborhood.name = "<%= @neighborhood[:name] %>";
  var parks = [];
  var landmarks = [];
  var museums = [];
</script>
    <% @parks.each do |park| %>
      <script type="text/javascript">
        var park = {};
        park.latlng = {lat: Number('<%= park[:lat] %>'), lng: Number('<%= park[:long] %>')};
        park.name = '<%= park[:name] %>';
        park.address = '<%= park[:address] %>';
        park.url = '<%= park[:website] %>';
        parks.push(park);
      </script>
    <% end %>

    <% @landmarks.each do |lm| %>
      <script type="text/javascript">
        var landmark = {};
        landmark.latlng = {lat: Number('<%= lm[:lat] %>'), lng: Number('<%= lm[:long] %>')};
        landmark.name = '<%= lm[:name] %>';
        landmark.address = '<%= lm[:address] %>';
        landmark.url = '<%= lm[:website] %>';
        landmarks.push(landmark);
      </script>
    <% end %>

    <% @museums.each do |msm| %>
      <script type="text/javascript">
        var museum = {};
        museum.latlng = {lat: Number('<%= msm[:lat] %>'), lng: Number('<%= msm[:long] %>')};
        museum.name = '<%= msm[:name] %>';
        museum.address = '<%= msm[:address] %>';
        museum.url = '<%= msm[:website] %>';
        museums.push(museum);
      </script>
    <% end %>


<%= javascript_include_tag "neighborhood_map" %>
